/*.labkey-publications-panel .x4-box-item*/
/*{*/
    /*width: 100%*/
/*}*/

/*.labkey-publications-panel .x4-box-inner*/
/*{*/
    /*float: right;*/
/*}*/

/*.labkey-finder-help {*/
    /*width: 100%;*/
    /*float: right;*/
/*}*/

.labkey-data-finder-view
{
    padding-left: 2px;
}

.labkey-data-finder-view .x4-tab
{
    border-bottom-width: 0;
}

.labkey-data-finder-view .x4-tab-bar-strip
{
    height: 0;
    border-top-width: 0;
}

.labkey-data-finder-view .x4-tab-default-top-active
{
    background-image: -webkit-linear-gradient(top,rgb(240, 240, 240),rgb(240, 240, 240));
}

.labkey-data-finder-view .x4-tab-bar-body-default-top {
    padding-bottom: 0;
}

.labkey-data-finder-card-deck-view .x4-panel-body-default {
    border-top-width: 0;
}

.labkey-studies-panel,
.labkey-publications-panel
{
    padding: 0;
}

.labkey-finder-object-selection {
    padding-left: 10px;
}

.labkey-studies-panel {
    background-color: #ffffff
}

DIV.labkey-data-finder-outer {
    min-height:100px;
    min-width:400px;
}

.labkey-data-finder-view
{
    height: 500px;
}

DIV.labkey-study-cards {
    background-color: #ffffff
}

DIV.labkey-finder-facets {
    background-color: #ffffff
}

/*.labkey-finder-facets .x4-grid-group-hd-collapsible .x4-grid-group-title*/
/*{*/
    /*background-image: none;*/
    /*!*position: relative;*!*/
/*}*/

/*.labkey-finder-facets .x4-grid-group-hd-collapsible .x4-grid-group-title:before*/
/*{*/
    /*position: absolute;*/
    /*font-family: 'FontAwesome';*/
    /*top: 6px;*/
    /*left: 6px;*/
    /*content: "\f0fe";*/

/*}*/

.labkey-data-finder-inner
{
    background-color:#ffffff;
    height:100%;
    width:100%;
}

.labkey-data-finder-outer .x4-border-layout-ct
{
    background-color:#ffffff;
}


/* labkey-study-card */
.labkey-study-card-header
{
    color:black;
    font-variant:small-caps;
}

.labkey-publication-goto,
.labkey-study-card-summary,
.labkey-study-card-accession
{
    float:left;
}

.labkey-study-card-goto,
.labkey-study-card-pi,
.labkey-study-card-short-name
{
    float:right;
}

.labkey-publication-title,
.labkey-study-card-divider,
.labkey-study-card-title,
.labkey-study-card-description
{
    clear:both;
}

.labkey-study-card-publications
{
    margin-top: 10px;
}

.labkey-text-link.labkey-study-card-abstract-count,
.labkey-text-link.labkey-study-card-manuscript-count
{
    float:right;
    margin-bottom: 1px;
    padding-top : 2px;
}

.labkey-study-card.labkey-study-border-highlight
{
    /*border: 2px solid #126495;*/
}

DIV.labkey-study-card
{
    background-color:#F8F8F8;
    border:1pt solid #AAAAAA;
    padding: 5pt;
    margin: 5pt;
    float:left;
    position:relative;
    width:171pt;
    height:140pt;
    overflow-y:hidden;
}

.labkey-publication-manuscript-highlight
{
    background-color:rgba(81, 158, 218, 0.1);
}

.labkey-publication-in-progress-highlight
{
    border: 1pt solid #AAAAAA;
}

TABLE.labkey-study-search
{
    margin: 5px 0px 0px 5px;
}

SPAN.labkey-study-search
{
    position: relative;
}

/* search area */
TD.labkey-search-box
{
    float:left;
    padding:10pt;
}
INPUT.labkey-search-box
{
    width:200pt;
}

DIV.labkey-search-message
{
    padding-left:10pt;
}

.labkey-facet-selection-panel
{
    padding: 0 0 5px 0px;
    vertical-align: text-top;
    height:100%;
    background-color: white;
}

.labkey-facet-selection-panel > DIV
{
    height:100%;
    /*max-width:200pt;*/
    overflow-y:auto;
}

DIV.labkey-facet-summary LI.labkey-facet-member
{
    clear:both;
    padding:2pt;
    margin:1px 0px 1px 0px;
    border:1px solid #ffffff;
    height:14pt;
    position:relative;
    width:100%;
}

/* facets */

.labkey-clear-all
{
    float: right;
    background-color: rgb(240, 240, 240);
    background-image: none;
    color: black;
    border: none;
}

.labkey-clear-all .x4-btn-inner {
    text-transform: none;
    font-weight: normal;
    font-size:100%;
}

.labkey-clear-all.inactive
{
    cursor: default;
}

.labkey-clear-all.inactive .x4-btn-inner
{
    color: grey;
    cursor:default;
}

.labkey-clear-all.active .x4-btn-inner
{
    color:black;
}

.labkey-clear-filter
{
    float:right;
}

DIV.labkey-facet-summary
{
    border-bottom : solid 1px rgb(124,124,124);
    border-left: solid 1px rgb(180, 180, 180);
    border-right: solid 1px rgb(180, 180, 180);
    border-top-width:0px;
}

.active
{
    cursor:pointer;
}

.labkey-facet-summary-header
{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: rgb(180, 180, 180);
}

.labkey-facet-header
{
    padding:4pt;
    background-color: rgb(240, 240, 240);
}

.labkey-facet-header
{
    padding-left: 10px;
}

.labkey-finder-card-header
{
    padding: 3px 8px 3px 8px;
}

.labkey-finder-card-header,
.labkey-facet-header .x4-panel-body-default
{
    background-color: rgb(240, 240, 240);
    border:none;
}

.labkey-facet-header .labkey-facet-caption
{
    font-weight:400;
    padding-bottom: 10px;
}

.labkey-facet-name
{
    float:left
}

.labkey-facet-header .labkey-filter-options
{
    font-size: 11px;
    padding: 3px 0 0 20px;
}

.labkey-finder-facets .x4-grid-row {
    border-width: 0;
}

.labkey-finder-facets .x4-grid-row-selected .x4-grid-td {
    background-color: white;
    background-image: none;
}

.labkey-finder-facets .x4-grid-row-selected .labkey-facet-unfilteredPercent-bar,
.labkey-finder-facets .x4-grid-row-selected .labkey-facet-percent-bar {
    background-color: rgba(81, 158, 218, 0.2);
}

.labkey-finder-facets .x4-grid-cell-special .x4-grid-cell-inner {
    background-color: white;
    background-image: none;
}

.labkey-finder-facets .x4-grid-group-hd {
    background-color:rgb(240, 240, 240);
    border-color: #7c7c7c;
    border-bottom-width:1px;
}

.labkey-finder-facets .x4-grid-cell-special {
    border-right-width: 0px;
}

.labkey-finder-facets .x4-grid-group-hd .x4-grid-group-title {
    background-position: left 28%
}

.labkey-facet-header .inactive
{
    cursor:default;
    color:grey;
}

.labkey-facet-header .active
{
    display:inline-block;
}

DIV.labkey-facet-summary UL
{
    list-style-type:none;
    padding-left:0;
    padding-right:5pt;
    margin:0;
}

DIV.labkey-facet-summary LI.labkey-facet-member
{
    clear:both;
    cursor:default;
    padding:2pt;
    margin:1px 0px 1px 0px;
    border:1px solid #ffffff;
    height:14pt;
    position:relative;
    width:100%;
}

.labkey-facet-summary .labkey-facet-member-name
{
    padding-left: 8px;
}

SPAN.labkey-facet-member:hover SPAN.labkey-facet-unfilteredPercent-bar,
SPAN.labkey-facet-member:hover SPAN.labkey-facet-percent-bar
{
    background-color:rgba(81, 158, 218, 0.2);
}

.labkey-empty-member
{
    color:#888888;
}

LI.labkey-facet-member .member-indicator
{
    position:relative;
    display:inline-block;
    width:16px;
    z-index:2;
}

SPAN.labkey-facet-member  .labkey-facet-member-name,
LI.labkey-facet-member .labkey-facet-member-name
{
    float: left;
    padding-bottom: 3px;
    display:inline-block;
    position:relative;
    max-width:150pt;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:2;
}

SPAN.labkey-facet-member  .labkey-facet-member-count,
LI.labkey-facet-member .labkey-facet-member-count
{
    position:relative;
    float:right;
    z-index:2;
    padding-right: 8px;
}

.x4-grid-row-selected SPAN.labkey-facet-unfilteredPercent-bar,
.x4-grid-row-selected SPAN.labkey-facet-percent-bar
{
    background-color:rgba(81, 158, 218, 0.2);
}

.labkey-finder-facets .x4-grid-view
{
    overflow: hidden;
}

.labkey-finder-facets .x4-grid-row-focused .x4-grid-td,
.labkey-finder-facets .x4-grid-row-before-focused .x4-grid-td,
.labkey-finder-facets .x4-grid-cell
{
    border-bottom-style: hidden;
    border-top-style: hidden;
    background-image: none;
    background-color: white;
}


.x4-grid-row SPAN.labkey-facet-percent-bar,
.x4-grid-row SPAN.labkey-facet-unfilteredPercent-bar
{
    height:14pt;
    position:absolute; right:0;
    z-index:0;
    padding-right: 8px;
}

.x4-grid-row SPAN.labkey-facet-percent-bar
{
    background-color:rgba(200,200,200,0.3);
}

.x4-grid-row SPAN.labkey-facet-unfilteredPercent-bar
{
    background-color:rgba(222,222,222,0.3);
}

/* filter type popup */
DIV.labkey-filter-popup
{
    position: absolute;
    min-width: 80px;
    margin: 2px 0 0;
    list-style: none;
    background-color: white;
    border-color:#b4b4b4;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgb(136, 136, 136) 0px 0px 6px;
    z-index: 100;
    -webkit-padding-start: 0px
}


.labkey-filter-popup > .labkey-dropdown-menu
{
    display: block;
    min-width: 130px;
}

/* menus */

.labkey-filter-options > span.inactive
{
    color: black;
    cursor: default;
}

.labkey-study-detail .x4-window-header {
    background-color: #F8F8F8;
    padding: 0;
    box-shadow: #F8F8F8 0 0 0 0;
}

.labkey-study-detail {
    border-color: #F8F8F8;
    padding: 0;
}

.labkey-study-details .labkey-study-links {
    padding: 5px 0 5px 10px;
}

div.labkey-study-details {
    background-color: white;
    padding: 10px 20px 20px 20px;
    margin-top: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), -1px 0 0 rgba(0,0,0,0.06), 1px 0 0 rgba(0,0,0,0.06), 0 1px 0 rgba(0,0,0,0.12);
}

div.labkey-study-details h2.labkey-study-accession {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #126495;
    color: white;
    font-size: 13px;
    padding: 9px 20px 7px 20px;
    margin-top: -20px;
    margin-left: -20px;
}

div.labkey-study-details h2.labkey-study-short-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #126495;
    color: white;
    font-size: 13px;
    padding: 9px 20px 7px 20px;
    float: right;
    margin-right: -20px;
    margin-top: -10px;
}


div.labkey-study-details h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0px 10px 50px;
    border-bottom: 1px solid darkgray;
}

#labkey-study-details-content {
    padding-top: 1em;
}

#labkey-study-details-content .detail {
    font-size: 15px;
    padding-left: 30px;
    padding-bottom: 5px;
}

#labkey-study-details-content .detail div {
    font-size: 15px;
}

#labkey-study-details-content h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#labkey-study-details-content div {
    padding: 3px;
}

#labkey-study-details-content div.label, a.label {
    font-size: 12px;
    color: #a9a9a9;
    vertical-align: text-top;
}

#labkey-study-assays-content .detail div {
    font-size: 15px;
    padding: 3px;
}

.labkey-study-publication-header {
    color: #cc541f;
    font-size: 120%;
    font-variant: small-caps;
}

.labkey-publication-journal {
    font-size:80%;
    text-decoration:underline;
}

.labkey-publication-year {
    font-size:80%;
}

.labkey-publication-title {
    font-weight: bold;
}



.labkey-publication-author {
    font-style: italic;
}

.labkey-publication-cards .x4-box-inner {
    overflow: auto;
}

.fa-plus-square:hover,
.fa-minus-square:hover
{
    cursor: pointer;
}

.labkey-publication-card.collapsed #fullAuthorList {
    display: none;
}

.labkey-publication-card.expanded #abbreviatedAuthorList {
    display: none;
}

.labkey-publication-card.expanded #fullAuthorList {
    display: inherit;
}

.labkey-publication-card.collapsed .fa-plus-square
{
    position:absolute;
    float:left;
    display:inherit;
}
.labkey-publication-card.collapsed .fa-minus-square
{
    display:none;
}

.labkey-publication-card.expanded .fa-plus-square
{
    display:none;
}
.labkey-publication-card.expanded .fa-minus-square
{
    position:absolute;
    float:left;
    display:inline;
}

.labkey-publication-detail
{
    clear: left;
}

.labkey-publication-detail.collapsed
{
    display:none;
}

.labkey-publication .labkey-figures-list
{
    padding-left: 0px;
    padding-top: 10px;
    list-style: none;
}

.labkey-figures-list .labkey-figure
{
    display: inline;
}

.labkey-publication-detail-label
{
    color: #3495D2;
}

.labkey-figure img
{
    max-height: 100px;
    box-shadow: 1px 1px 2px 2px #ccc;
    margin-right: 8px;
    margin-bottom: 8px;
}

#labkey-publication-details-content,
.labkey-publication-card .labkey-publication-author,
.labkey-publication-card .labkey-publication-title,
.labkey-publication-card .labkey-publication-goto,
.labkey-publication-card .labkey-publication-goto:hover,
.labkey-publication-card .labkey-publication-citation {
    padding-left: 20px;
    clear: both;
}

.labkey-publication-card .labkey-publication-title,
.labkey-publication-card .labkey-publication-citation {
    padding-bottom:5px;

}

.labkey-publication-card
{
    /*background-color:#F8F8F8;*/
    /*border:1pt solid #AAAAAA;*/
    border-bottom:1px solid #AAAAAA;
    padding: 5pt;
    margin: 5pt;
    float:left;
    position:relative;
    width:90%;
    /*width:171pt;*/
    /*height:140pt;*/
    overflow-y:hidden;
}

.labkey-publication-card .labkey-publication-data-link
{
    float: right;
}


.labkey-publication-detail .labkey-publication-studies,
.labkey-publication-detail .labkey-publication-data-link,
.labkey-publication-detail .labkey-publication-links,
.labkey-publication-detail .labkey-publication-keywords,
.labkey-publication-detail .labkey-publication-abstract
{
    padding-top: 8px;
}

.labkey-publication-detail .labkey-publication-abstract
{
    padding-bottom: 5px
}

.labkey-finder-label
{
    font-weight: bold;
}