.labkey-study-card-pi
{
    float:left;
}

.labkey-study-card-short-name
{
    float:left;
}

.labkey-study-card-accession
{
    float:right;
}

div.labkey-study-details h2.labkey-study-short-name {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #126495;
    color: white;
    font-size: 13px;
    padding: 9px 20px 7px 20px;
    margin-left: -20px;
    float: left;
}

div.labkey-study-details h2.labkey-study-accession {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    background-color: #126495;
    color: white;
    font-size: 13px;
    padding: 9px 20px 7px 20px;
    float: right;
    margin-right: -20px;
    margin-top: -10px;
}

.studyaccessdeletebutton {
    padding-left: 10px;
    cursor: pointer;
    color: red;
}

.studyaccesspanel {
    margin-bottom: 10px;
}

.studyaccesspanel .x4-panel-body-default {
    border-width: 0;
    border-radius: 10px;
    background-color: #E0E6EA;
    width: 800px !important;
    padding: 5px 0;
}

.studyaccessform .x4-panel-body-default{
    border-radius: 0;
    padding-left: 10px;
}

.studyaccesstuplelabel {
    padding-left: 5px;
}